<div class="notice-box">
    <h1>温馨提醒</h1>
    <p class="notice-box-hd">活动还未开始，11月6日， <br>
    <em>秒杀</em>、 <em>一口价</em>、 <em>满减</em>、 <em>满折</em>等着你哦！</p>
    <button class="j-notice-box-close btn">知道了</button>
    <button class="j-get-notice btn active">设置提醒</button>
</div>
