<div class="notice-box">
    <h1>领取优惠券</h1>
    <div class="notice-box-hd">
        <p class="">您已成功领取满减券：</p>
        <div class="value">

        </div>
        <p>可在<a href="/member/coupon">个人中心－我的优惠券</a>中查看</p>
    </div>
    <button class="btn modal_close_btn">知道了</button>
</div>
