<div class="notice-box">
    <h1>活动开始提醒</h1>
    <div class="notice-box-hd">
        <p class="u-mb_20">我们将会在活动当天提前30分钟以短信的形式通知您。</p>
        <input class="form-text phone" type="text" name="phone" placeholder="手机号码">
    </div>
    <button class="btn active submit">提交信息</button>
</div>
