@import "../../modules/settings/_setting_pages";

.coupon-container {

  .user-points-hd {
    margin: 14px 20px 0;
    border-bottom: 1px solid $color_line;
  }

  .coupon-exchange {
    margin-top: 10px;
  }
}