.breadcrumb {
    padding: 15*$px 0;
    border-bottom: 1px solid $color_line;
    > * {
        display: inline-block;
    }
    li {
        display: inline-block;
    }
    a {
        color: inherit;
        &:hover {
            color: $color_gold_hover;
        }
    }
    &-title {
        margin-right: 20*$px;
        color: $color_title;
        font-size: 16px;
    }
    &-active {
        color: #777;
    }
}

/* v1.3加入新的面包屑导航 */
.crumb-nav {
    padding: 16px 0;
    border-bottom: 1px solid $color_line;
    > * {
        display: inline-block;
        margin-right: 20px;
        a {
            color: inherit;
            &:hover {
                color: $color_gold_hover;
            }
        }
    }
    > h3 {
        color: $color_title;
        font-size: 16px;
    }
}

/* 路径导航 */
.nav {
    &__breadcrumb {
        padding: 15*$px 20*$px 10*$px 0;
        list-style: none;

        // border-bottom: 1*$px solid $color_gray2;
        //border-top: 1*$px solid $color_gray2;
        //@include gradient-vertical(#f4f4f4, #fff 40%);
        font-size: 12*$px;
        li {
            display: inline-block;
        }
        span {
            font-size: 12*$px;
            margin-left: 5*$px;
        }
        a {
            color: $color_black;
            &:hover {
                color: $color_gold_hover;
            }
        }
        ._active {
            color: #777;
        }
    }
}

.layout-fixed {
    .nav {
        &__breadcrumb {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
