// new pagination

@mixin paging-btn {
    @extend %btn-basic;
    margin-right: 10*$px;
    padding: 0 15*$px;
    height: 40*$px;
    line-height: 40*$px;
    color: inherit;
    background-color: white;
    border: 1px solid white;
    &:hover {
        border-color: $color_gold_hover;
    }
    &.active {
        color: $color_emphasis;
    }
}

.paging {
    &-btn {
        @include paging-btn;
        &.disable {
            color: white;
            background-color: #f4f4f4;
            border-color: #f4f4f4;
        }
    }
    // &-prev, &-next {
    //     @include paging-btn;
    //     font-weight: bolder;
    //     &.disable {
    //         color: white;
    //         background-color: #f4f4f4;
    //         border-color: #f4f4f4;
    //     }
    // }
    &-ellipsis {
        display: inline-block;
        margin-right: 10*$px;
        height: 40*$px;
        line-height: 40*$px;
        color: $color_gray;
    }
    &-ipt {
        @include paging-btn;
        width: 40*$px;
        padding: 0;
        border-color: $color_line;
    }
    &-go {
        @include paging-btn;
        margin-right: 0;
    }
}

// 内页
.layout-fixed {
    .paging {
        &-btn, &-go {
            border: 1px solid $color_line;
            &:hover {
                border-color: $color_gold_hover;
            }
        }
    }
}

// 旧分页
.pagination {
    display: inline-block;
}
.pages {
    &__btn {
        height: 40*$px;
        line-height: 40*$px;
        cursor: auto;
    }
    &__btn._active {
        color: $color_gold;
    }
    &__prev {
        padding: 0 13*$px;
    }
    &__next {
        padding: 0 13*$px;
    }
}
