<div class="activity-mask"></div>
<div class="activity-container">
    <div class="center-section">
        <a href="/activity/june" target="_blank"><img src="{{path "/images/index/index-activity.png?v=1"}}" class="advert-img" /></a>
        <div class="activity-center">
            <a href="/member/register" class="register-now"></a>
            <a href="/activity/june" class="activity-june-detail" target="_blank"></a>
        </div>
    </div>
    <div class="bottom-nav-section">
        <a href="/activity/june" class="title-icon" target="_blank"></a>
        <div class="slide-up-icon"></div>
    </div>
</div>