<div class="captcha-modal">
    
    <div class="common-form common-form-nolabel">
        <div class="row">
            <input type="text" class="captcha-inputer normal" />
            <a><img class="captcha-image" src="{{captcha}}" /></a>

            <p class="error"></p>
        </div> 
    </div>

    <div class="modal-confirm-footer">
        <a class="btn btn-primary-big confirm">确定</a>
    </div>
</div>
