<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>邮件模板</title>
    <!--
    gray 898989
    gold d3af94
    black 3a3a3a
    gray2 7d7d7d
    red 994b53

    bd eaeaea



    -->
</head>
<body>
<table style="font-size: 12px;line-height:2;color: #3a3a3a;margin: auto;word-wrap: break-word;word-break: break-all;background: #fff;font-family: Microsoft YaHei;"
       width="550" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tbody>
    <tr>
        <td style="color:#898989;font-size: 12px;line-height: 3;">为了您能够正常收到来自斯品的优惠信息和会员邮箱，请将<a
                style="color: #d3af94;text-decoration:underline;" href="mailto:service@sipin.com">service@sipin.com</a>添加进您的通讯录
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #eaeaea;">
            <img src="/images/email/email_01.jpg" alt="sipin.com" style="width: 100%;display: block;"/>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px;color: #3a3a3a;line-height: 24px;">
            <p style="margin:16px 0 8px;">亲爱的斯品用户：</p>

            <p style="margin:0 0 8px;text-indent: 2em;">您好！斯品商城邀请您参与《斯品家居商城问卷调查》，我们非常希望了解您的需求和看法，以帮助我们持续优化，从而为您提供更好的服务。</p>

            <p style="margin:0 0 8px;text-indent: 2em;">成功提交问卷的有效受访者，将获得我们赠送给您的“暖男公仔”，我们将通过您问卷中填写 的斯品商城的注册信息与收货信息将礼品寄送给您。</p>

            <p style="margin:0 0 8px;text-indent: 2em;">问卷调查可能需要花费您大约5分钟时间，感谢您的认真配合。</p>

            <p style="margin:0 0 8px;text-indent: 2em;">此次活动只限收到邮件邀请的用户参加，转发及重复参加均无效：</p>
        </td>
    </tr>
    <tr>
        <td style="background: #f7f7f7;height:90px;text-align: center;">
            <a href="#"
               style="display: inline-block;line-height: 50px;padding:0 70px;background:#994b53;border-radius:30px;font-size: 14px;">
                <img src="/images/email/email_survey_1.png" alt=""
                     style="width: 14px;height: 14px;margin-right:6px;vertical-align:middle"/><span
                    style="vertical-align:middle;display: inline-block;color: #fff;font-size: 14px;">点击填写问卷</span>
            </a>
        </td>
    </tr>
    <tr>
        <td style="color: #3a3a3a;text-align: center;height: 280px">
            <img src="/images/email/email_survey_2.png" alt=""/>

            <p style="margin:0;font-size: 14px;">本期问卷精美礼品：暖男公仔（绅士）</p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin:0;">说明：</p>
            <p style="margin:0 0 8px;">1、斯品商城有权根据项目需求，确定甄别条件和问卷的有效性 <br/>
                2、您有权自主选择是否参加本活动或是否填写次问卷，对您的支持我们深表感谢</p>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #eaeaea;border-top: 1px solid #eaeaea;border-top: 1px solid #eaeaea;">
            <p style="margin: 10px 0;color: #7d7d7d;font-size: 12px;line-height: 2;">
                斯品sipin.com是专业的家居自营品牌网购商城。我们专注完善家居电商的线上线下一体化购物体验，提供价格实惠质量优胜的家居产品。斯品承诺：100%正品保障，60天无理由退换货，家具类产品质保三年！</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <img src="/images/email/email_03.jpg" alt="sipin.com" style="margin:10px auto 0;"/>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;color: #7d7d7d;font-size: 12px;line-height:1.2;padding-bottom:30px;">Copyright
            @2015 sipin.com版权所有
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>