<p class="ui-complete-icon u-f18 u-text-center">
    商品{{gift_name}}已经成功放入购物车，消费积分：<span class="u-color_glod">{{gift_point}}</span>
</p>
<p class="u-mt_30 u-text-center">
    <a class="modal_close_btn btn btn-primary-big u-mr_20">继续兑换</a>
    <a href="/cart" class="btn btn-big">现在去结算</a>
</p>

<div class="add-cart-modal-box__content ui-modal__inner">
    <div class="u-border-bottom u-text-left u-mt_30 u-clearfix">
        <h2 class="u-f14">已放入购物车的商品</h2>
    </div>
    <div class="cart-shop-slider">
        <div class="cart-shop-slider__inner">
            <a href="#" class="cart-shop-slider__prev iconfont btn-primary-big _disable">&#xf0115;</a>
            <div class="ui-good-photos__list-wrap">
                <div class="ui-good-photos__list-inner">
                    <ul class="u-clearfix">

                    </ul>
                </div>
            </div>
            <a href="#" class="cart-shop-slider__next iconfont btn-primary-big">&#xf0116;</a>
        </div>
    </div>
</div>
