<div class="modal-confirm">
    <div class="modal-confirm-body">{{{content}}}</div>

    <div class="modal-confirm-footer">
        <a class="btn btn-primary-big" data-action="confirm">确定</a>
    </div>
</div>
