<form class="common-form common-form-nolabel">

    <div class="row">
        <input type="password" class="full-width" name="oldpassword" placeholder="输入原来的密码">
    </div>
    <div class="row">
        <input type="password" class="full-width" name="newpassword" placeholder="输入新的密码">
    </div>
    <div class="row">
        <input type="password"class="full-width" name="repassword" placeholder="再次输入新的密码">
        <p class="error tips_error"></p>
    </div>
    
    <div class="row">
        <a class="btn btn-confirm">马上修改</a>
    </div>
</form>