{{#if days}}<span class="ui-emphasis">{{days}}</span>天{{/if}}
{{#if hours}}<span class="ui-emphasis">{{hours}}</span>时{{/if}}
<span class="ui-emphasis">{{minutes}}</span>分
<span class="ui-emphasis">{{seconds}}</span>秒