<div class="flash-sale-captcha">
    <p>请输入验证码：</p>
    <p class="flash-sale-captcha-img">
        <img src="{{captcha}}" alt="点击刷新">
        <a class="iconfont u-color_black u-f18 u-ml_10">&#xe680;</a>
    </p>
    <input type="text" id="flash-sale-captcha-input">
    <button id="flash-sale-sure" class="btn">确定</button>
</div>