.presales-coupon-modal {
    background: #fff;
    position: relative;

    .ui-modal__title {
        padding-top:15px;
        padding-left: 15px;
    }

    .ui-modal__close-box {
        background-color: #dcdcdc;
    }
    h5{
        font-weight: normal;
        font-size: 18*$px;
    }
    footer{
        margin-bottom: 15*$px;
    }
}