.life-three-banner{
    overflow: hidden;
    background: #fff;
    &-main{
        width: 980/1580*100%;
        position: relative;
        section{
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 350px;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
            padding:8px 5px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                pointer-events: none;
                background: #000;
                filter: alpha(opacity=24);
                opacity: .24;
            }
            span{
                position: relative;
                z-index: 1;
            }
        }
    }
    ul{
        width: 530/1580*100%;
        margin-left: 40/1580*100%;
        // margin-right: 30/1580*100%;
        overflow: hidden;
        .img-box{
            width: 230/530*100%;
            float: left;
        }
        .title-box{
            float: left;
            width:280/530*100%;
            margin-left: 20/530*100%;
        }
        img{
        }
    }
    li{
        margin-top: 40*$px;
    }
    h4{
        position: relative;
        font-size: 24*$px;
        padding: 15*$px 0 10*$px;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 5*$px;
          position: absolute;
          top: 0;
          left: 0;
          background: url("~images/topic/topic-title.png") repeat-x;
        }
        // span {
        //     background: url("~images/topic/life-title-bg-01-02.png") repeat-x;
        //     // padding: 6px 0;
        //     // position: relative;
        //     // z-index: 1;
        //     display: inline;
        //     padding: 3px 8px;
        //     line-height: 1.7;
        //     box-decoration-break: clone;
        //     -webkit-box-decoration-break: clone;
        // }
    }
    img{
        display: block;
        width: 100%;
    }
}
.u-black-link{
    color: $color_black;
    &:hover{
        color: $color_gold_hover;
    }
}
.u-mb_65{
    margin-bottom: 65*$px;
}

.life-hd{
    border-bottom:1px solid $color_gray_border;
    padding-bottom:10*$px;
    margin-bottom:20*$px;
    a{
        color: $color_gray;
        width: 4em;
        span{
            color: $color_gold;
        }
        &:hover{
            color: $color_gold_hover;
        }
    }
}
.life-list{
    &.has-3{
        li{
            width: 500/1580*100%;
            margin-left: 40/1580*100%;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    &.has-4{
        li{
            width: 380/1580*100%;
            margin-left: 20/1580*100%;
            &:first-child{
                margin-left: 0;
            }
        }
    }

    li{
        float: left;
    }
    h4{
        font-size:16*$px;

    }
    img{
        display: block;
        width: 100%;
    }
    section{
        //width: 320/500*100%;
        // width:320*$px;
        max-width: 100%;
    }
}
