<div class="coupon-modal">
    <h1 class="coupon-modal__hd">激活优惠券</h1>
    <div class="coupon-modal__bd u-clearfix">
        <input type="text" name="name" value="" class="coupon-modal-input form-text u-fl">
        <a href="javascript:;" class="coupon-modal-btn btn btn-big u-fl">激活优惠券</a>
    </div>
</div>
